{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "TiErp": //Put your ConnectionString to postgres database here.
  },
  "AllowedHosts": "*"
}