@using TiErp.Application.Employee.Commands.CreateEmployee
@using TiErp.Application.Employee.DTOs;

@model CreateEmployeeCommand

<h1>Dodaj pracownika</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/Employee/Create" method="post">
            <div class="form-group mb-3">
                <label class="control-label" asp-for="FirstName">Imię:</label>
                <input class="form-control" type="text" asp-for="FirstName">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label" asp-for="LastName">Nazwisko:</label>
                <input class="form-control" type="text" asp-for="LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label" asp-for="HireDate">Data zatrudnienia:</label>
                <input class="form-control" type="date" value="@DateOnly.FromDateTime(DateTime.Now)" asp-for="HireDate" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label" asp-for="Email">Email</label>
                <input class="form-control" type="text" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label" asp-for="Phone">Numer tel.:</label>
                <input class="form-control" type="text" asp-for="Phone" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label" asp-for="EmergencyPhone">Numer tel. osoby do informacji:</label>
                <input class="form-control" type="text" asp-for="EmergencyPhone" />
                <span asp-validation-for="EmergencyPhone" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}