@model TiWms.Application.ProductionItem.Commands.EditProductionItem.EditProductionItemCommand

@{
    ViewData["Title"] = "Edycja";
}

<h1>Edycja</h1>

<h4>Edycja elementu produkcyjnego</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" class="form-control" type="hidden"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nazwa</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EAN11" class="control-label">EAN11</label>
                <input asp-for="EAN11" class="form-control" />
                <span asp-validation-for="EAN11" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Ilość magazynwoa</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WareHouseLocationCode" class="control-label">Kod lokalizacji na magazynie</label>
                <input asp-for="WareHouseLocationCode" class="form-control" />
                <span asp-validation-for="WareHouseLocationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
