@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container text-center mt-5">
        <h1 class="mb-4">Witaj pracowniku!</h1>
        <p class="mb-4">Przejdź do panelu zarządzania, aby rozpocząć pracę.</p>
        <a href="/panel-zarzadzania" class="btn btn-primary btn-lg">Przejdź do panelu</a>
    </div>
</div>
