@{
    @using System.Security.Principal

    <ul class="navbar-nav">
        @if (User.Identity?.IsAuthenticated == true)
        {
            <li class="nav-item">
                <a href="/Identity/Account/Manage" class="nav-link text-dark">Witaj @User.Identity?.Name!</a>
            </li>
            <li class="nav-item">
                <form method="post" asp-area="Identity" asp-page="/Account/Logout" class="form-inline">
                    <button type="submit" class="btn btn-link nav-link text-dark">Wyloguj</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Zaloguj</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/LoginCars">Zaloguj za pomocą karty</a>
            </li>
        }
    </ul>
}
