@model TiErp.Application.Order.DTOs.OrderDto

@{
    ViewData["Title"] = "Szczegóły zamówienia";
}

<h1>Szczegóły</h1>

<h3>Na pewno chcesz go usunąć?</h3>
<div>
    <h4>Szczegóły zamówienia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Id
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Utworzył
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy.UserName)
        </dd>
        <dt class="col-sm-2">
            Produkty w zamówieniu
        </dt>
        @foreach(var item in Model.Items)
        {
            <dd class="col-sm-10">
                <b>@item.Quantity Sztuk</b> @item.Product.Name 
            </dd>
            <dt class="col-sm-2">
            </dt>
        }
        

    </dl>
    
    <form asp-action="Details">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do listy</a>
    </form>
</div>
